body{
  background-image: url('/images/sonic1.jpg');
  image-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid;
  margin-top: 0;
  margin-left: 33%;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 198px
}
h3 {
 border-style: solid;
 margin-top:0;
 margin-left: 33%;
 margin-right: 0;
 margin-bottom: 5px;
 display: inline-block;
 border-width: 2px;
  color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 4px;
 padding-top: 0;
 padding-bottom: 0;
}
h2 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 0;
  margin-right: 33%;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 199px
}
h4 {
 font-size: 14px;
 font-family: sans-serif;
 font-weight: normal;
 text-align: center;
 border-style: solid;
 margin-top: 0;
 margin-left: 0;
 margin-right: 33%;
 margin-bottom: 5px;
 display: inline-block;
 vertical-align: top;
 border-width: 2px;
 color: #141414;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding-top: 94px;
 padding-bottom: 94px;
 width: 288px;
}
h5 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 32.8%;
  margin-right: 33.2%;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 510px;
}
h6 {
 border-style: solid;
 margin-top:0;
 margin-left: 32.8%;
 margin-right: 33.2%;
 margin-bottom: 5px;
 display: inline-block;
 border-width: 2px;
 color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 2px;
 padding-top: 0;
 padding-bottom: 0;
}
h7 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 462px;
}
h8 {
 font-size: 14px;
 font-family: sans-serif;
 font-weight: normal;
 border-style: solid;
 margin-top:0;
 margin-left: 33%;
 margin-right: 33%;
 margin-bottom: 5px;
 display: inline-block;
 border-width: 2px;
 color: #141414;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding-right: 1px;
 padding-left: 2px;
 padding-top: 0;
 padding-bottom: 0;
}
h9 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid;
  margin-top: 0;
  margin-left: 33%;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 204px
}
h11 {
 border-style: solid;
 margin-top:0;
 margin-left: 33%;
 margin-right: 0;
 margin-bottom: 5px;
 display: inline-block;
 border-width: 2px;
  color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 5px;
 padding-top: 0;
 padding-bottom: 0;
}
h10 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 0;
  margin-right: 33%;
  margin-bottom: 0;
  display: inline-block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 232px
}
h12 {
 border-style: solid;
 margin-top: 0;
 margin-left: 0;
 margin-right: 33%;
 margin-bottom: 5px;
 display: inline-block;
 vertical-align: top;
 border-width: 2px;
 color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 5px;
 padding-top: 1px;
 padding-bottom: 6px;
}
h13 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
  color: #ffffff;
}