body{
  background-image: url('/images/sonic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  text-rendering: optimizeSpeed;
}
h1 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16.3vw;
}
h3 {
 height: 16vw;
 width: 18.7vw;
 border-style: solid;
 margin-top:0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 border-width: 0.2vw;
  color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 0.4vw;
 padding-top: 0;
 padding-bottom: 0;
}
h2 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin: 0;
  margin-left: 0.1vw;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16.3vw;
}
h4 {
 font-size: 0.8vw;
 font-family: sans-serif;
 font-weight: normal;
 text-align: center;
 border-style: solid;
 margin-top: 0;
 margin-left: 0.1vw;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 vertical-align: top;
 border-width: 0.2vw;
 color: #141414;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding-top: 7.4vw;
 padding-bottom: 7.4vw;
 width: 22vw;
}
h5 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 48.46vw;
}
h6 {
 height: 3vw;
 width: 50.9vw;
 border-style: solid;
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 border-width: 0.2vw;
 color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 0.3vw;
 padding-bottom: 0;
}
h7 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 38.25vw;
}
h8 {
 height: 24vw; 
 width: 42vw;
 font-size: 0.8vw;
 font-family: sans-serif;
 font-weight: normal;
 border-style: solid;
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 border-width: 0.2vw;
 color: #141414;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding-right: 0.4vw;
 padding-left: 0.2vw;
 padding-top: 0;
 padding-bottom: 0;
}
h9 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16.3vw;
}
h11 {
 height: 23.6vw;
 width: 18.8vw;
 border-style: solid;
 margin-top:0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 border-width: 0.2vw;
  color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 0.27vw;
 padding-top: 0;
 padding-bottom: 0.3vw;
}
h10 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid; 
  margin-top: 0;
  margin-left: 0.05vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
  border-width: 0.2vw;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 19.4vw;
}
h12 {
 border-style: solid;
 margin-top: 0;
 margin-left: 0.1vw;
 margin-right: 0;
 margin-bottom: 0.5vw;
 display: inline-block;
 vertical-align: top;
 border-width: 0.2vw;
 color: #ffffff;
 border-color: #c0c0c0;
 background-color: #c0c0c0;
 padding: 0.55vw;
 padding-top: 0.1vw;
 padding-bottom: 0.3vw;
}
h13 {
  font-size: 0.8vw;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  color: #ffffff;
}
