body{
  background-image: url('./images/peggleepic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}
h1 {
  font-size: 57px;
  font-family: sans-serif;
  font-weight: normal;
  border-style: solid;
  margin: 0;
  display: block;
  border-width: 2px;
  color: #ffffff;
  border-color: #c0c0c0;
  background-color: #000080;
  padding: 0.4vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
}
h2 {
  margin-top: 0;
  margin-left: 26vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h6 {
  margin-top: 0;
  margin-left: 10vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h3 {
  margin-top: 0;
  margin-left: 30vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h7 {
  margin-top: 0;
  margin-left: 10vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h4 {
  margin-top: 0;
  margin-left: 34vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h8 {
  margin-top: 0;
  margin-left: 12vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
h5 {
  margin-top: 0;
  margin-left: 25vw;
  margin-right: 0;
  margin-bottom: 0;
  display: inline-block;
}
